.profilePage {
  min-height: 100vh;
}

.profilePage h1{
  text-align: center;;
}
.profile {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 35vw;
  min-height: 73vh;
  place-items: center;
}

.profileForm {
  width: 100%;
}
.inputContainer {
  margin: 10px 0;
display: flex;

}
.profileLabel {
  width: 50%;
}
.profileInput {
  border: 1px solid transparent;
  background-color: transparent;
  width: 50%;
}

.buttonContainer {
  text-align: center;

}
.optionalText{
  margin: 0;
}