.banner {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 50px;
}
button:hover {
  cursor: pointer;
}
.childInfoContainerHP {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.childImage {
  border: 1px solid rgb(74, 74, 74);
  width: 195px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  background-color: lightgrey;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.category {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.categoryName h1 {
  font-family: "Caveat", cursive;
  font-size: 75px;
}

.notActive {
  display: none;
}

.historySection {
  display: flex;
  flex-wrap: wrap;
}

.historyInformationContainer {
  width: 65%;
}

.dataInputForm {
  width: 35%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

form div {
  margin-bottom: 7px;
}
.drinkType,
.foodType,
.napLength {
  display: flex;
}
#napLength {
  width: 40px;
  margin-right: 10px;
}
#quantity,
#quantityDiscarded {
  width: 40px;
}
input {
  border: solid 1px transparent;
  background-color: transparent;
  font-size: 20px;
}
.saveContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.save {
  height: 50px;
  width: 100px;
  border: 1px solid transparent;
  border-radius: 25px;
  font-size: 16px;
}

.historyHeaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.historyHeader {
  width: 50vw;
  text-align: center;
}
.historyHeader h1 {
  margin: 25px 0;
}
.historyTimelineContainer {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  max-height: 170px;
  overflow-y: scroll;
  justify-content: center;
}

.historyTimelineContainer h2 {
  font-family: "Caveat", cursive;
  font-size: 40px;
}
.historyColumnContainer {
  min-width: 200px;
}
.IllnessColumnContainer {
  min-width: 160px;
}
.newColumnContainer {
  text-align: center;
}

.historyTableContainer {
  width: 100%;
}

.historyTable {
  display: flex;

  width: 100%;
  flex-direction: column;
}
.historyTableHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.dateTimeHeader {
  display: flex;
  gap: 20px;
}
.arrowContainer {
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}

form {
  width: 260px;
}
label {
  font-size: 22px;
}
.mLButton,
.ozButton {
  font-size: 12px;
  margin: 7px;
}
.arrowUpFeeding:hover {
  color: #fadd9f;
}
.arrowDownFeeding:hover {
  color: #fadd9f;
}
.arrowUpIllness:hover {
  color: coral;
}
.arrowDownIllness:hover {
  color: coral;
}
.arrowUpDiaper:hover {
  color: #12d7e6;
}
.arrowDownDiaper:hover {
  color: #12d7e6;
}
.arrowUpNapping:hover {
  color: #b935f9;
}
.arrowDownNapping:hover {
  color: #b935f9;
}
.smallerScreenHistorySection {
  display: none;
}
.sortingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.historySortingContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 600px;
}
.historySortingContainer h3 {
  font-size: 22px;
}
.historySortingButtonsContainer {
  display: flex;
  gap: 10px;
}
div.trashCanDelete {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .largeScreenHistorySection {
    display: none;
  }
  .smallerScreenHistorySection {
    display: block;
  }
}
@media screen and (max-width: 300px) {
  div.historyHeaderContainer .historyHeader h1 {
    font-size: 55px;
  }
}
@media screen and (max-width: 768px) {
  .mobileHistoryInfoSection input {
    width: 75px;
  }
}
@media screen and (max-width: 600px) {
  .childInfoContainerHP {
    width: 100%;
    justify-content: center;
  }
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    padding: 30px;
  }
}
