.childPage {
  min-height: 100vh;
}
.childPageInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.childInfo {
  display: flex;
  flex-direction: column;
  padding-left: 15px;

  padding: 0 10%;
  margin: 50px 0;
  gap: 10px;
}

.childInfoContainer {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}
.childInfoLabel {
  width: 50%;
}
.childInfoInput {
  width: 50%;
  border: 1px solid transparent;
}

.headSizeInfo {
  margin-bottom: 40px;
}
.fa-female {
  color: #f7fbf0;
}
.fa-male {
  color: #f7fbf0;
}
.male.button {
  background-color: blue;
  margin-right: 20px;
  color: #f7fbf0;
}
.female.button {
  background-color: pink;
  color: #f7fbf0;
  font-size: 16px;
  padding: 0.6em 0.8em;
}
.maleText {
  margin: 0;
}
.femaleText {
  margin: 0;
}

@media screen and (max-width: 768px) {
  input {
    font-size: 16px;
  }

  label {
    font-size: 16px;
  }
}
