.childPage {
  min-height: 100vh;
}
.childPageInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.childInfo {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  gap: 10px;
  margin-top: 80px;
  
}

.childInfoContainer {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
 
}
.childInfoLabel {
  width: 50%;
}
.childInfoInput {
  width: 50%;
  border: 1px solid transparent;
}

.headSizeInfo {
  margin-bottom: 40px;
}
.fa-female{
color: #F7FBF0
}
.fa-male{
color: #F7FBF0
}
.male.button{
  background-color: blue;
  margin-right: 20px;
}
.female.button{
  background-color: pink;
}
