.feedingBanner {
  background-color: #fadd9f;
}
.feedingSave {
  background-color: #fadd9f;
}

.feedingSave:hover {
  background-color: #fadd9fb2;
  /* box-shadow: 1px 1px 2px 2px inset; */
}

.categoryName h1 {
  margin-bottom: 0;
}
button h2 {
  margin: auto;
}
button.infantModeSwitch {
  background-color: #bab4a6;
}


button.infantModeSwitch:hover {
  background-color: #9d988c;
  
}
button.infantModeSwitch.pressedButton {
  background-color: #9d988c;
}
.infantModeSwitch .fa-baby {
  color: #fadd9f;
}
.fa-child-dress {
  color: #fac093;
}
.fa-child-reaching {
  color: #425bf5;
}

button.bottleFeed {
  padding: 10px;
  background-color: #bab4a6;
}
button.bottleFeed:hover {
  background-color: #9d988c;
}
button.bottleFeed.pressedButton {
  background-color: #9d988c;
}
button.breastFeed {
  padding: 10px;
  background-color: #bab4a6;
}
button.breastFeed:hover {
  background-color: #9d988c;
}
button.breastFeed.pressedButton {
  background-color: #9d988c;
}
.subCategories button {
  margin: 0 13px;
}

.historySection{
  display: flex;
  flex-wrap: wrap;
}

.dataInputForm.feedingForm{
width: 50%;
}
.historyInformationContainer{
  width: 50%;
}