.largeScreenNav {
  /* max-height: 6vh; */
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
}
.logo {
  position: relative;
}
.logo:hover {
  cursor: pointer;
  color: lightgrey;
}
.child:hover {
  color: white;
}
.switchChild {
  font-weight: 500;
  border: solid 2px black;
  border-radius: 10px;
  padding: 0 50px 0 25px;
  position: relative;
}
.clickPositioning {
  position: absolute;
  right: 10px;
  top: 0px;
}
.childNameContainer {
  background-color: rgba(208, 206, 209, 0.9);
  border-radius: 10px;
  position: absolute;
  width: 167px;
}

.filteredChildInfo {
  width: 100%;
  text-align: center;
  height: 90%;
  font-size: larger;
}

.switchToChild {
  font-weight: 700;
}
.switchToChild:hover {
  cursor: pointer;
}

.logo .fa-baby {
  font-size: 28px;
}
.smallScreenNav {
  display: none;
}
@media screen and (max-width: 550px) {
  .largeScreenNav {
    display: none;
  }
  .smallScreenNav {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
    width: 100%;
  }
  div.mobileLanding {
    display: flex;
    gap: 40px;
  }
  div.mobileLanding.hidden {
    display: none;
  }
}

.logo .child:hover {
  cursor: pointer;
  font-weight: 700;
  background-color: grey;
  width: 100%;
  text-align: center;
}

.childList {
  position: absolute;
  width: 86px;
  border: 1px solid black;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 11px;
  top: 10px;
  background-color: white;
}

.pages {
  display: flex;
  gap: 30px;
  align-items: center;
}
.loggedInHeader {
  display: flex;
  gap: 30px;
}
.loggedOutHeader {
  display: flex;
  gap: 30px;
}

.page:hover {
  cursor: pointer;
}
.pagesDropDown {
  position: relative;
}
.hamburgerIcon:hover {
  cursor: pointer;
  color: gray;
  font-size: large;
}
.link {
  width: 100%;
}
.subPagesLinks {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 90px;
  right: 6px;
  text-align: center;
  background-color: white;
  top: 12px;
  color: initial;
  text-decoration: none;
}

.selected {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
}
.child.selectedChild {
  height: 100%;
  color: white;
  font-size: 20px;
}
.selected.feedingLink {
  background-color: #fadd9f;
  color: black;
}
.feedingLink:hover {
  color: #fadd9f;
  background-color: grey;
}
.selected.diaperLink {
  background-color: #12d7e6;
  color: black;
}

.diaperLink:hover {
  color: #12d7e6;
  background-color: grey;
}
.selected.nappingLink {
  background-color: #b935f9;
  color: black;
}
.nappingLink:hover {
  color: #b935f9;
  background-color: grey;
}
.selected.illnessLink {
  background-color: coral;
  color: black;
}
.illnessLink:hover {
  color: coral;
  background-color: grey;
}
.addChildLink:hover {
  background-color: grey;
}

.link:hover {
  cursor: pointer;
  font-weight: 550;
}
.pageLink {
  color: initial;
  text-decoration: none;
  width: 25;
}
.pageLink:hover {
  color: initial;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

.mobileDropSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10%;
}
.mobileLandingLink:hover {
  cursor: pointer;
  font-weight: 800;
}
