nav {
  /* max-height: 6vh; */
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
}
.logo {
  position: relative;
}

.logo .fa-baby {
  font-size: 28px;
}

.logo .fa-baby:hover {
  cursor: pointer;
  color: gray;
}
.logo .child:hover {
  cursor: pointer;
  font-weight: 700;
  background-color: grey;
  width: 100%;
  text-align: center;
}

.childList {
  position: absolute;
  width: 86px;
  border: 1px solid black;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 11px;
  top: 10px;
  background-color: white;
}

.pages {
  display: flex;
  gap: 30px;
  align-items: center;
}
.loggedInHeader {
  display: flex;
  gap: 30px;
}
.loggedOutHeader {
  display: flex;
  gap: 30px;
}

.page:hover {
  cursor: pointer;
}
.pagesDropDown {
  position: relative;
}
.hamburgerIcon:hover {
  cursor: pointer;
  color: gray;
  font-size: large;
}
.link {
  width: 100%;
}
.subPagesLinks {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 90px;
  right: 6px;
  text-align: center;
  background-color: white;
  top: 12px;
  color: initial;
  text-decoration: none;
}

.selected {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
}
.selected.feedingLink {
  background-color: #fadd9f;
  color: black;
}
.feedingLink:hover {
  color: #fadd9f;
  background-color: grey;
}
.selected.diaperLink {
  background-color: #12d7e6;
  color: black;
}

.diaperLink:hover {
  color: #12d7e6;
  background-color: grey;
}
.selected.nappingLink {
  background-color: #b935f9;
  color: black;
}
.nappingLink:hover {
  color: #b935f9;
  background-color: grey;
}
.selected.illnessLink {
  background-color: #96cbb6;
  color: black;
}
.illnessLink:hover {
  color: #96cbb6;
  background-color: grey;
}
.addChildLink:hover {
  background-color: grey;
}

.link:hover {
  cursor: pointer;
  font-weight: 700;
}
.pageLink {
  color: initial;
  text-decoration: none;
}
.pageLink:hover {
  color: initial;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

.filteredChildInfo {
  width: 100%;
  text-align: center;
}
