.childPage {
  min-height: 100vh;
}
.childPageInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.childInfo {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  gap: 10px;
  margin-top: 80px;
}
.childInfoContainer {
  margin-bottom: 10px;
  width: 11vw;
  display: flex;
}
.childInfoLabel {
  width: 50%;
}
.childInfoInput {
  width: 50%;
  border: 1px solid transparent;
}

.headSizeInfo {
  margin-bottom: 40px;
}
