:root {
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(2, 2, 2, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


}

html {
  width: 100%;
  background-color: #fdfdfd;
}
body {
  margin: 0;
}
.saveButton {
  width: 87px;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: gainsboro;
  font-size: 16px;
}
.saveButton:hover {
  cursor: pointer;
  background-color: darkgrey;
  color: azure;
  border: 1px solid black;
}
.childPictureContainer {
  border: 1px solid rgb(74, 74, 74);
  width: 195px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: lightgrey;
}
.childPictureContainer:hover {
  background-color: darkgrey;
  cursor: pointer;
}
.hidden {
  display: none;
}

.button {
  border-color: transparent;
  background-color: lightgray;
}
.pressedButton {
  box-shadow: 1px 1px 1px 1px inset;
  border-color: transparent;
  background-color: lightgray;
}
.error-message {
  color: white;
  margin: 5px 0;
  background-color: rgb(238, 70, 70);
  text-align: center;
  border: solid 1px transparent;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px inset silver;
  
}

.fa-baby {
  color: #a0c0fa;
}
